############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############
.DS_Store

############
## Quartus
############
db
incremental_db
#*.qsf
*.bak
*.rpt
*.summary
*.done
*.pof
*.sof
*.pin

###############
## Sublime Text 2
###############
*.sublime-workspace